---
import Layout from '$layouts/Page.astro';
import PostPreview from '$components/Astro/PostPreview.astro';

import { getAllPosts } from '$lib/sanity.client';

const seo = {
  title: 'Glass-Service Svendsen og Sønn AS Blogg',
  description:
    'Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde løsninger til alle hjem, og har høy kvalitet i alle ledd.',
};

const posts = await getAllPosts();
---

<Layout seo={seo}>
  <div class="min-h-[calc(100vh-289px)] px-12 py-8">
    <section class="grid gap-12 md:grid-cols-2 2xl:grid-cols-3">
      {posts.map((post) => <PostPreview path="posts" post={post} />)}
    </section>
  </div>
</Layout>
