---
// Component Imports
import Layout from '$layouts/Page.astro';
import PostPreview from '$components/PostPreview.astro';

import { getAllPosts } from '$lib/sanity.client';
import Container from '$components/Container.astro';

const seo = {
  title: 'Glass-Service Svendsen og Sønn AS Blogg',
  description:
    'Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde løsninger til alle hjem, og har høy kvalitet i alle ledd.',
};

const allPostData = await getAllPosts();
---

<Layout seo={seo}>
  <Container>
    <section>
      {allPostData.map((post) => <PostPreview path="posts" post={post} />)}
    </section>
  </Container>
</Layout>
