---
// Component Imports
import Layout from '$layouts/Page.astro';
import PostPreview from '$components/PostPreview.astro';

import { getAllPosts } from '$lib/sanity.client';
import Container from '$components/Container.astro';

const seo = {
  title: 'Example Blog',
  description:
    'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.',
};

const allPostData = await getAllPosts();
---

<Layout seo={seo}>
  <Container>
    <section>
      {allPostData.map((post) => <PostPreview post={post} />)}
    </section>
  </Container>
</Layout>
