---
import { Image } from 'astro:assets';
import PostBody from './PostBody.astro';
import type { CollectionEntry } from 'astro:content';
import ArticleImage from './ArticleImage.astro';
import ArticleLink from './ArticleLink.astro';
import FAQ from './FAQ.astro';
import Container from './Container.astro';
import WordPullUp from '../ui/word-pull-up';
import TracingBeamWrapper from './TracingBeamWrapper.astro';
import HighlightWrapper from './HighlightWrapper.astro';

export interface Props {
  post: CollectionEntry<'pages' | 'posts' | 'glasstypes'>;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<article class="group min-h-[calc(100vh-289px)]">
  <div class="relative h-[70vh] min-h-[500px] w-full mb-12">
    {
      post.data.featuredMedia?.discriminant === 'image' && post.data.featuredMedia?.value.asset ? (
        <>
          <Image
            width={2000}
            height={800}
            alt={post.data.featuredMedia?.value?.alt || ''}
            class="absolute inset-0 h-full w-full object-cover"
            loading="eager"
            src={post.data.featuredMedia?.value.asset || ''}
          />
          <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-black/30 transition-opacity duration-300 group-hover:opacity-90" />
          <header class="relative h-full flex flex-col items-center justify-center px-4">
            <WordPullUp
              client:visible
              className="max-w-5xl mx-auto text-center text-4xl font-bold tracking-[-0.02em] text-white md:text-7xl leading-[3rem] md:leading-[6rem]"
              words={post.data.heading ?? post.data.title}
            />
            <h4 class="mt-4 text-sm text-white/80 md:text-base [&_a:hover]:text-success [&_a]:underline [&_a]:transition-colors [&_a]:duration-200">
              <slot name="meta" />
            </h4>
          </header>
        </>
      ) : (
        <header class="h-full flex flex-col items-center justify-center px-4 bg-gradient-to-b from-gray-900 to-gray-800">
          <WordPullUp
            client:visible
            className="max-w-5xl mx-auto text-center text-4xl font-bold tracking-[-0.02em] text-white md:text-7xl leading-[3rem] md:leading-[6rem]"
            words={post.data.heading ?? post.data.title}
          />
          <h4 class="mt-4 text-sm text-white/80 md:text-base [&_a:hover]:text-success [&_a]:underline [&_a]:transition-colors [&_a]:duration-200">
            <slot name="meta" />
          </h4>
        </header>
      )
    }
  </div>
  <TracingBeamWrapper>
    <PostBody>
      <Content components={{ img: ArticleImage, a: ArticleLink, FAQ, Container, Highlight: HighlightWrapper }} />
    </PostBody>
  </TracingBeamWrapper>
</article>
