---
import { Image } from 'astro:assets';
import PostBody from './PostBody.astro';
import PortableText from './PortableText.astro';
import type { GlassType, Page, Post } from '$tina/__generated__/types';

export interface Props {
  post: Page | Post | GlassType;
}

const { post } = Astro.props;
---

<article class="h-full min-h-[calc(100vh-289px)]">
  {
    post.mainImage && (
      <div class="h-[40vw]">
        <Image
          width={2000}
          height={800}
          alt={post.mainImage?.alt || ''}
          class="max-h-full w-full object-cover"
          loading="lazy"
          src={post.mainImage?.url || ''}
        />
      </div>
    )
  }
  <header class="mb-10 flex flex-col items-center justify-center pt-8 text-center md:mb-12">
    <h1 class="text-4xl font-bold leading-tight tracking-normal md:pr-8 md:text-6xl">
      {post.title}
    </h1>
    <h4
      class="mt-5 text-lg md:pl-8 md:text-left [&_a:hover]:text-success [&_a]:underline [&_a]:transition-colors [&_a]:duration-200"
    >
      <PortableText value={post.description} />
    </h4>
  </header>
  <PostBody content={post.body} />
</article>
