---
import { Image } from 'astro:assets';
import PostBody from './PostBody.astro';
import type { CollectionEntry } from 'astro:content';
import ArticleImage from './ArticleImage.astro';
import ArticleLink from './ArticleLink.astro';
import FAQ from './FAQ.astro';
import Container from './Container.astro';

export interface Props {
  post: CollectionEntry<'pages' | 'posts' | 'glasstypes'>;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<article class="h-full min-h-[calc(100vh-289px)]">
  {
    post.data.featuredMedia?.discriminant === 'image' && post.data.featuredMedia?.value.asset && (
      <div class="h-[30vw]">
        <Image
          width={2000}
          height={800}
          alt={post.data.featuredMedia?.value?.alt || ''}
          class="max-h-full w-full object-cover"
          loading="lazy"
          src={post.data.featuredMedia?.value.asset || ''}
        />
      </div>
    )
  }
  <header class="mb-4 flex flex-col items-center justify-center pt-2 text-center md:mb-6">
    <h1 class="text-2xl font-bold leading-tight tracking-normal md:pr-6 md:text-4xl">
      {post.data.title}
    </h1>
    <h4
      class="mt-2 text-sm md:pl-6 md:text-left [&_a:hover]:text-success [&_a]:underline [&_a]:transition-colors [&_a]:duration-200"
    >
    </h4>
  </header>
  <PostBody>
    <Content components={{ img: ArticleImage, a: ArticleLink, FAQ, Container }} />
  </PostBody>
</article>
