---
import { cn } from '@/lib/utils';
import { RiveCanvas } from '../React/RiveCanvas';
---

<section class="bg-white px-6 py-2 dark:bg-gray-900">
  <div class="mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="mb-4 max-w-2xl text-4xl font-extrabold leading-none tracking-tight dark:text-white md:text-5xl xl:text-6xl"
      >
        Gratis og uforpliktende befaring
      </h1>
      <p class="mb-6 max-w-2xl font-light text-gray-500 dark:text-gray-400 md:text-lg lg:mb-8 lg:text-xl">
        Vi tilbyr gratis befaring og glassteknisk rådgivning. Bestill uforpliktende befaring i dag, så kommer vi hjem
        til deg og finner ut sammen med deg hva som blir best for ditt hjem. <span>&#128525</span>
      </p>
      <!-- <a href="#" class={buttonVariants({ variant: 'ghost', size: 'xl' })}>
        Mer info
        <svg class="-mr-1 ml-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a> -->
      <!-- <a href="/booking" class={buttonVariants({ variant: 'secondary', size: 'xl' })}> Book Befaring </a> -->
      <button
        data-cal-link="glassno/befaring"
        class={cn(
          'relative text-center cursor-pointer flex justify-center items-center rounded-lg text-white dark:text-black bg-blue-500 dark:bg-blue-500 px-4 py-2',
        )}
        style={{
          '--pulse-color': '#0096ff',
          '--duration': '1.5s',
        }}
      >
        <div class="relative z-10 dark:text-white">Book Befaring</div>
        <div
          class="absolute top-1/2 left-1/2 size-full rounded-lg bg-inherit animate-pulse -translate-x-1/2 -translate-y-1/2"
        >
        </div>
      </button>
    </div>
    <div class="-order-1 lg:order-none lg:col-span-5 lg:mt-0 lg:flex">
      <RiveCanvas src="/assets/mobile.riv" client:visible />
    </div>
  </div>
</section>
