---
const { crop, className } = Astro.props;
---

{
  crop === 'wide' ? (
    // <div class={`mx-auto w-full grid grid-cols-1 md:grid-cols-2 gap-4 ${className}`}>
    // Set 1 column temporarily
    <div class={`mx-auto w-full grid grid-cols-1 md:grid-cols-1 gap-4 ${className}`}>
      <slot />
    </div>
  ) : crop === 'normal' ? (
    <div
      class={`bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden transition-all duration-300 ease-in-out hover:shadow-lg hover:scale-[1.02] ${className}`}
    >
      <div class="p-6">
        <slot />
      </div>
    </div>
  ) : crop === 'narrow' ? (
    <div class={`mx-auto max-w-3xl px-4 sm:px-6 lg:px-8 ${className}`}>
      <slot />
    </div>
  ) : null
}
