---
import Logo from './Logo.astro';
import ThemeToggler from './ThemeToggler.astro';
import BookBefaring from '../Svelte/BookBefaring.svelte';
import { getEntry } from 'astro:content';
import { NavMenu } from '../React/NavMenu';
import { MobileMenu } from '../React/MobileMenu';

const { data: navigation } = await getEntry('navigation', 'main-navigation');
const menuItems = navigation?.menuItems;
---

<nav
  class="fixed left-0 top-0 z-30 w-full border-b border-gray-200 bg-white px-4 py-2.5 dark:border-gray-600 dark:bg-background"
  transition:persist
>
  <div class="flex flex-wrap items-center justify-between px-4 lg:px-12">
    <Logo />
    <div class="flex items-center gap-2 md:order-2">
      <ThemeToggler />
      <BookBefaring client:visible />
      <MobileMenu client:load menuItems={menuItems} />
    </div>
    <div class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto">
      <NavMenu client:load menuItems={menuItems} />
    </div>
  </div>
</nav>
