---
import { cn } from '@/lib/utils';
---

<div
  class={cn(`relative mx-auto max-w-4xl px-8 pb-16 text-base leading-7 md:px-10 lg:px-0
  [&_h1]:scroll-m-20 [&_h1]:text-4xl [&_h1]:font-extrabold [&_h1]:tracking-tight [&_h1]:lg:text-5xl
  [&_h2]:mt-10 [&_h2]:mb-6 [&_h2]:scroll-m-20 [&_h2]:border-b [&_h2]:pb-2 [&_h2]:text-3xl [&_h2]:font-semibold [&_h2]:tracking-tight [&_h2]:transition-colors [&_h2:not(:first-child)]:mt-10
  [&_h3]:mt-8 [&_h3[data-state]]:mt-3 [&_h3]:scroll-m-20 [&_h3]:text-2xl [&_h3]:font-semibold [&_h3]:tracking-tight
  [&_p]:leading-7 [&_p:not(:first-child)]:mt-6
  [&_a]:font-medium [&_a]:text-primary [&_a]:underline [&_a]:underline-offset-4
  [&_blockquote]:mt-6 [&_blockquote]:border-l-2 [&_blockquote]:pl-6 [&_blockquote]:italic
  [&_ul]:my-6 [&_ul]:ml-6 [&_ul]:list-disc [&_ul>li]:mt-2
  [&_table]:my-6 [&_table]:w-full [&_table]:overflow-y-auto
  [&_thead_tr]:m-0 [&_thead_tr]:border-t [&_thead_tr]:p-0 [&_thead_tr]:even:bg-muted
  [&_th]:border [&_th]:px-4 [&_th]:py-2 [&_th]:text-left [&_th]:font-bold [&_th[align=center]]:text-center [&_th[align=right]]:text-right
  [&_tbody_tr]:m-0 [&_tbody_tr]:border-t [&_tbody_tr]:p-0 [&_tbody_tr]:even:bg-muted
  [&_td]:border [&_td]:px-4 [&_td]:py-2 [&_td]:text-left [&_td[align=center]]:text-center [&_td[align=right]]:text-right`)}
>
  <slot />
</div>
