---
import PortableText from './PortableText.astro';

const { content } = Astro.props;
---

<!-- <div
  class="mx-auto px-8 text-lg leading-relaxed md:px-1 [&_a:hover]:text-blue-800 [&_a]:text-blue-500 [&_a]:underline [&_blockquote]:my-6 [&_h2]:mb-4 [&_h2]:mt-12 [&_h2]:text-3xl [&_h2]:leading-snug [&_h3]:mb-4 [&_h3]:mt-8 [&_h3]:text-2xl [&_h3]:leading-snug [&_ol]:my-6 [&_p]:my-6 [&_ul]:my-6"
> -->
<div>
  <PortableText value={content} />
</div>
