<div
  class="cursor-default rounded-md border border-gray-100 px-5 py-3 shadow-md transition-all hover:translate-x-1 hover:-translate-y-1 hover:scale-[1.025] hover:shadow-xl"
>
  <p class="mb-3 text-center text-2xl font-bold text-gray-600">stellar</p>
  <div class="flex justify-center space-x-2">
    <span class="inline-flex h-6 items-center rounded-full bg-green-100 px-2 text-xs font-medium text-green-800"
      >adjectives</span
    >
    <span class="inline-flex h-6 items-center rounded-full bg-blue-100 px-2 text-xs font-medium text-blue-800"
      >positive</span
    >
    <span class="inline-flex h-6 items-center rounded-full bg-red-100 px-2 text-xs font-medium text-red-800">nouns</span
    >
  </div>
</div>
