---
import type { SeoProps } from '../../components/Astro/BaseHead.astro';
import BaseHead from '../../components/Astro/BaseHead.astro';
import Footer from '../../components/Astro/Footer.astro';
import Navbar from '../../components/Astro/Navbar.astro';

export interface Props {
  seo?: SeoProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="nb" class="scroll-smooth">
  <head>
    <BaseHead {...seo} />
  </head>
  <body class="bg-white dark:bg-gray-900 dark:text-gray-300">
    <header class="mb-14 md:mb-16">
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />
    <!-- <script type="module" src="./cookieconsent-config.js"></script> -->
  </body>
</html>
