---
import { ViewTransitions } from 'astro:transitions';
import Footer from '$components/Astro/Footer.astro';
import Navbar from '$components/Astro/Navbar.astro';
import type { Props as BaseHeadProps } from '$components/Astro/BaseHead.astro';
import BaseHead from '$components/Astro/BaseHead.astro';
import { fade } from 'astro/transitions';

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="nb" class="scroll-smooth">
  <head>
    <BaseHead {...seo} />
    <ViewTransitions />
  </head>
  <body transition:animate={fade({ duration: '0.2s' })} class="bg-white dark:bg-gray-900 dark:text-gray-300">
    <header class="mb-14 md:mb-16">
      <Navbar />
    </header>
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
