---
import Footer from '$components/Footer.astro';
import Navbar from '$components/Navbar.astro';
import BaseHead from '$components/BaseHead.astro';
import type { Props as BaseHeadProps } from '$components/BaseHead.astro';

export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<!DOCTYPE html>
<html lang="nb">
  <head>
    <BaseHead {...seo} />
  </head>
  <body>
    <header class="mb-14 md:mb-16">
      <Navbar />
    </header>
    <main>
      <slot />
    </main>
    <Footer />

    <!-- <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-M73D3QJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript> -->
  </body>
</html>
