---
export const prerender = true;

import { RiveCanvas } from '$components/Solid/RiveCanvas';
import Layout from '$layouts/Page.astro';
---

<Layout>
  <div class="flex h-[calc(100vh-289px)] w-screen items-center justify-center bg-gray-100 p-10">
    <article class="flex w-screen items-center">
      <div class="container flex flex-col items-center justify-center px-5 text-gray-700 md:flex-row">
        <section class="max-w-lg">
          <div class="-order-1 lg:order-none lg:col-span-5 lg:mt-0 lg:flex">
            <RiveCanvas src="/assets/404.riv" client:visible />
          </div>
        </section>
        <section class="max-w-md">
          <p class="text-2xl font-light leading-normal md:text-3xl">Beklager, vi kunne ikke finne denne siden.</p>
          <p class="mb-8">Men ikke bekymre deg, du kan finne massevis av andre ting på vår hjemmeside.</p>

          <a
            href="/"
            class="mr-3 inline-flex items-center justify-center rounded-lg bg-primary-700 px-5 py-3 text-center text-base font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="mr-3 -ml-1 h-5 w-5"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
              ></path>
            </svg>

            Back to hompage
          </a>
        </section>
      </div>
    </article>
  </div>
</Layout>
