---
import { RiveCanvas } from '@/components/React/RiveCanvas';
import Layout from '../layouts/Page.astro';
import { buttonVariants } from '@/components/ui/button';
---

<Layout>
  <div class="flex min-h-[calc(100vh-289px)] w-full items-center justify-center bg-white p-10 overflow-y-auto">
    <div class="container mx-auto max-w-6xl px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
        <div class="order-2">
          <div class="dark:text-primary-foreground">
            <h1 class="text-4xl font-bold mb-4">404</h1>
            <p class="text-2xl font-light leading-normal md:text-3xl mb-4">
              Beklager, vi kunne ikke finne denne siden.
            </p>
            <p class="mb-8">Men ikke bekymre deg, du kan finne massevis av andre ting på vår hjemmeside.</p>
          </div>
          <a href="/" class={buttonVariants({ variant: 'link' })}>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="-ml-1 mr-3 h-5 w-5"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
              ></path>
            </svg>
            Tilbake til hjemmeside
          </a>
        </div>
        <div class="order-1 flex justify-center">
          <div class="w-full h-[300px] md:h-[400px]">
            <RiveCanvas src="/assets/404.riv" client:load />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
