---
import { BookingPage } from '@/components/React/BookingPage';
import Layout from '../layouts/Page.astro';
---

<Layout>
  <!-- <section class="flex h-[calc(100vh-298px)] items-center justify-center"> -->
  <BookingPage client:only="react" />
  <!-- </section> -->
</Layout>
