---
export const prerender = true;

import Latepoint from '$components/Latepoint.astro';
import BookingPage from '$components/Svelte/BookingPage.svelte';
import Layout from '$layouts/Page.astro';
---

<Layout>
  <section class="flex h-[calc(100vh-298px)] items-center justify-center">
    <BookingPage client:visible />
  </section>
</Layout>
