---
import Layout from '../layouts/Page.astro';
import BookingSection from '../components/Astro/BookingSection.astro';
import Hero from '../components/Astro/Hero.astro';
import LatestPosts from '../components/Astro/LatestPosts.astro';
import { FeaturesSection } from '@/components/React/FeaturesSection';
import { GoogleReviews } from '@/components/React/GoogleReviews';
import type { SeoProps } from '@/components/Astro/BaseHead.astro';
import type { Review, ReviewsData } from '@/types/reviews';
import { cleanComment, getStarRating } from '@/lib/utils';

const seo: SeoProps = {
  title: 'Glass-Service Svendsen og Sønn AS',
  metaDescription:
    'Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde løsninger til alle hjem, og har høy kvalitet i alle ledd.',
  preloadCarouselImages: true,
};

let reviews: ReviewsData | null = null;
try {
  const imported = await import('../assets/reviews.json', { with: { type: 'json' } });
  reviews = imported.default as ReviewsData;
} catch (e) {
  console.log('No local reviews found');
}

if (!reviews?.reviews?.length) {
  try {
    const response = await fetch(`${import.meta.env.URL}/api/reviews`);
    if (response.ok) {
      const imported = await import('../assets/reviews.json', { with: { type: 'json' } });
      reviews = imported.default as ReviewsData;
    }
  } catch (e) {
    console.error('Failed to fetch reviews:', e);
  }
}

const filteredReviews = (reviews?.reviews || [])
  .filter((review) => getStarRating(review.starRating) >= 4)
  .map((review) => ({
    ...review,
    comment: cleanComment(review.comment),
    starRating: getStarRating(review.starRating),
  }))
  .toSorted(() => Math.random() - 0.5) as (Review & { starRating: number })[];
---

<Layout seo={seo}>
  <div class="flex flex-col">
    <div class="w-full mb-6 sm:mb-8 md:mb-12 lg:mb-16">
      <Hero />
    </div>

    <div
      class="w-full mb-6 sm:mb-8 md:mb-12 lg:mb-16 transform transition-all duration-300 ease-in-out order-3 md:order-2"
    >
      <FeaturesSection client:visible />
    </div>

    <div
      class="w-full mb-6 sm:mb-8 md:mb-12 lg:mb-16 transform transition-all duration-300 ease-in-out order-2 md:order-3"
    >
      <BookingSection />
    </div>

    {
      filteredReviews && (
        <div class="w-full order-4 transform transition-all">
          <GoogleReviews reviews={filteredReviews} client:visible />
        </div>
      )
    }

    <div class="w-full mb-6 sm:mb-8 md:mb-12 lg:mb-16 transform transition-all duration-300 ease-in-out order-5">
      <LatestPosts />
    </div>
  </div>
</Layout>
