---
import Hero from '$components/Hero.astro';
import Carousel from '$components/Carousel.astro';
import Feature from '$components/Feature.astro';
import Layout from '$layouts/Page.astro';
import Motto from '$components/Motto.astro';

const seo = {
  title: 'Glass-Service Svendsen og Sønn AS',
  description:
    'Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde løsninger til alle hjem, og har høy kvalitet i alle ledd.',
};
---

<Layout seo={seo}>
  <section class="h-[calc(100vh-3rem)] bg-white dark:bg-gray-900">
    <Carousel />
    <Motto />
  </section>
  <Feature />
  <Hero />
</Layout>
