---
import Layout from '../layouts/Page.astro';
import { ContactForm } from '../components/React/ContactForm';
---

<Layout>
  <section class="min-h-screen w-screen">
    <ContactForm client:only="react" />
  </section>
</Layout>
