---
export const prerender = true;

import { ContactForm } from '$components/React/ContactForm';
// import { ContactForm } from '$components/Solid/ContactForm';
import Layout from '$layouts/Page.astro';
---

<Layout>
  <section class="flex h-[calc(100vh-298px)] items-center justify-center">
    <ContactForm client:only="react" />
  </section>
</Layout>
