---
import Layout from '$layouts/Page.astro';
import PostPreview from '$components/PostPreview.astro';

import { getAllPosts } from './api/posts';

const seo = {
  title: 'Example Blog',
  description:
    'This is a starter repo for an blog built with Astro including open graph tags, canonical urls, RSS, sitemap support.',
};

const allPostData = await getAllPosts();
---

<Layout seo={seo}>
  <article>
    <section>
      <!-- {allPostData.map((post: any) => <PostPreview post={post} />)} -->
      <pre>{JSON.stringify(allPostData, null, 2)}</pre>
    </section>
  </article>
</Layout>
