---
import Layout from '$layouts/Layout.astro';
import Sun from '$components/Sun.astro';
import Moon from '$components/Moon.astro';
import { getAllPosts } from './api/posts';

const posts = await getAllPosts();

const darkTheme = localStorage.theme === 'dark';
---

<Layout title="sanity">
  <section>
    <button id="theme">{darkTheme ? <Sun /> : <Moon />}</button>
    <pre>{JSON.stringify(Object.values(posts)[0], null, 2)}</pre>
  </section>
</Layout>

<script is:inline>
  const html = document.documentElement;
  const btn = document.getElementById('theme');

  btn.addEventListener('click', () => html.classList.toggle('dark'));
</script>
