<div class="w-full max-w-xl xl:w-5/12 xl:px-8">
  <div class="rounded bg-white p-7 shadow-2xl sm:p-10">
    <h3 class="mb-4 text-xl font-semibold sm:mb-6 sm:text-center sm:text-2xl">Kontakt Oss</h3>
    <form id="form">
      <div class="mb-1 sm:mb-2">
        <label for="name" class="mb-1 inline-block font-medium">Navn</label>
        <input
          placeholder="John Doe"
          required
          type="text"
          class="focus:shadow-outline mb-2 h-12 w-full flex-grow appearance-none rounded border border-gray-300 bg-white px-4 shadow-sm transition duration-200 focus:border-primary-400 focus:outline-none"
          id="name"
          name="name"
        />
      </div>
      <div class="mb-1 sm:mb-2">
        <label for="email" class="mb-1 inline-block font-medium">E-post</label>
        <input
          placeholder="john.doe@example.com"
          required
          type="email"
          class="focus:shadow-outline mb-2 h-12 w-full flex-grow appearance-none rounded border border-gray-300 bg-white px-4 shadow-sm transition duration-200 focus:border-primary-400 focus:outline-none"
          id="email"
          name="email"
        />
      </div>
      <div class="mb-1 sm:mb-2">
        <label for="message" class="mb-1 inline-block font-medium">Hva kan vi hjelpe deg med?</label>
        <textarea
          placeholder="Doe"
          required
          class="focus:shadow-outline mb-2 h-20 w-full flex-grow appearance-none rounded border border-gray-300 bg-white px-4 shadow-sm transition duration-200 focus:border-primary-400 focus:outline-none"
          id="message"
          name="message"></textarea>
      </div>
      <div class="mt-4 mb-2 sm:mb-4">
        <button
          type="submit"
          class="btn-primary focus:shadow-outline inline-flex h-12 w-full items-center justify-center rounded px-6 font-medium tracking-wide text-white shadow-md transition duration-200 focus:outline-none"
        >
          Send
        </button>
      </div>
    </form>
  </div>
</div>
