---
import { getSanityImageURL, removeExt } from '$lib/sanity.image';
import { Image } from '@astrojs/image/components';
import type { Post } from '$lib/sanity.queries';
import PostBody from './PostBody.astro';
import PortableText from './PortableText.astro';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article>
  {
    post.mainImage && (
      <Image
        width={2000}
        aspectRatio={2.5}
        alt={post.mainImage.asset.altText || removeExt(post.mainImage.asset.originalFilename)}
        class="max-h-[40vw] w-full"
        loading="lazy"
        src={getSanityImageURL(post.mainImage).fit('fillmax').url()}
      />
    )
  }
</article>
<header class="mb-10 flex flex-col items-center justify-center text-center md:mb-12 md:flex-row">
  <h1 class="text-6xl font-bold leading-tight tracking-normal md:pr-8 md:text-8xl">
    {post.title}
  </h1>
  <h4
    class="mt-5 text-lg md:pl-8 md:text-left [&_a:hover]:text-success [&_a]:underline [&_a]:transition-colors [&_a]:duration-200"
  >
    <PortableText value={post.description} />
  </h4>
</header>
<PostBody content={post.body} />
