---
import { getSanityImageURL, removeExt } from '$lib/sanity.image';
import { Image } from '@astrojs/image/components';
import type { Post } from '$lib/sanity.queries';
import PostBody from './PostBody.astro';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

// const blogPostBody = await convertBlockContentToMarkdown(post.bodyRaw);
---

<article class="p-1">
  <h1>{post.title}</h1>
  {
    post.mainImage && (
      <Image
        width="720"
        height="420"
        alt={post.mainImage.asset.altText || removeExt(post.mainImage.asset.originalFilename)}
        class="h-auto w-full"
        loading="lazy"
        src={getSanityImageURL(post.mainImage).url()}
      />
    )
  }
  <PostBody content={post.body} />
</article>
