<section class="bg-white p-6 dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl py-8 px-4 sm:py-16 lg:px-6">
    <div class="mx-auto mb-8 max-w-screen-md text-center lg:mb-16">
      <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
        Kvalitetstjeneste siden 1889
      </h2>
      <p class="text-gray-500 dark:text-gray-400 sm:text-xl">
        Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde
        løsninger til alle hjem, og har høy kvalitet i alle ledd.
      </p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 lg:grid-cols-3">
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Fornøyde Kunder</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Vi har levert glasstjenester til tusenvis fornøyde kunder - siden 1889. Du trenger ikke å stole blindt på oss
          når vi sier at vi leverer høy kvalitet og utrolig service - hør på kundene våre!
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Kvaliserte Montører</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Våre medarbeidere er dyktige, faglærte og har både utdanning samt lang erfaring i glassfaget. Du vil føle deg
          ivaretatt i hele prosessen, fra befaring til ferdig utført arbeid.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="h-7 w-7 text-primary-600 dark:text-primary-300"
            viewBox="0 0 512 512"
          >
            <path
              d="M503.673 243.579c-5.323-6.344-12.584-10.467-20.908-12.008l-3.91-53.066a8.015 8.015 0 0 0 7.818-6.622l1.508-8.551c1.616-9.166-.638-18.214-6.185-24.823-5.54-6.602-13.651-10.239-22.84-10.239h-58.854l2.865-16.245c.813-4.614-.365-9.221-3.231-12.637-2.838-3.382-7.105-5.322-11.707-5.322H98.524c-8.567 0-16.453 6.665-17.954 15.176L54.939 254.609a8.016 8.016 0 0 0 15.789 2.783L96.36 112.025c.169-.957 1.401-1.927 2.163-1.927l288.702.001-25.481 144.51a8.015 8.015 0 0 0 6.503 9.286c4.355.767 8.518-2.143 9.286-6.503l1.848-10.479H475.269c6.626.001 12.351 2.476 16.122 6.969 2.595 3.093 4.109 6.943 4.473 11.202h-26.629a8.016 8.016 0 0 0-7.895 6.625l-3.015 17.102c-1.215 6.89.501 13.717 4.707 18.73 4.148 4.945 10.445 7.78 17.274 7.78h7.548l-6.22 35.273h-21.165c-1.393-7.055-4.442-13.544-9.063-19.049-8.199-9.773-20.265-15.154-33.972-15.154-21.979 0-43.184 14.38-53.111 34.204H361.1l10.403-58.999A8.016 8.016 0 0 0 365 282.31a8.015 8.015 0 0 0-9.286 6.503l-10.894 61.783H196.418c-1.393-7.055-4.442-13.543-9.063-19.049-8.2-9.773-20.265-15.154-33.973-15.154-21.979 0-43.184 14.38-53.111 34.204l-45.978-.001 3.204-18.17h36.029a8.017 8.017 0 0 0 0-16.034H8.017a8.017 8.017 0 0 0 0 16.034h33.201l-2.865 16.245c-.813 4.614.365 9.221 3.231 12.637 2.838 3.382 7.105 5.322 11.707 5.322h41.774c-2.173 13.599 1.093 26.41 9.268 36.151 8.2 9.773 20.265 15.154 33.973 15.154 27.284 0 53.387-22.151 58.188-49.38.113-.645.202-1.286.292-1.926h162.331c-2.174 13.598 1.092 26.409 9.268 36.151 8.2 9.773 20.265 15.154 33.973 15.154 27.284 0 53.387-22.151 58.188-49.38.113-.645.202-1.286.292-1.926h27.525a8.016 8.016 0 0 0 7.895-6.625l15.078-85.51c2.046-11.607-.675-22.586-7.663-30.914zM382.21 230.883l9.235-52.375h71.336l3.859 52.375h-84.43zm90.181-70.334-.34 1.926h-77.78l3.204-18.171h61.681c4.367 0 8.117 1.602 10.557 4.511 2.53 3.014 3.482 7.18 2.678 11.734zM180.705 365.773c-3.512 19.923-22.533 36.13-42.399 36.13-8.886 0-16.59-3.348-21.691-9.426-5.248-6.255-7.248-14.749-5.631-23.919 3.513-19.923 22.533-36.13 42.399-36.13 8.886 0 16.59 3.348 21.691 9.427 5.248 6.253 7.248 14.748 5.631 23.918zm264.051 0c-3.513 19.923-22.533 36.13-42.399 36.13-8.886 0-16.59-3.348-21.691-9.427-5.248-6.255-7.248-14.749-5.631-23.919 3.512-19.923 22.533-36.13 42.399-36.13 8.885 0 16.59 3.348 21.691 9.427 5.248 6.254 7.248 14.749 5.631 23.919zm45.925-66.481h-10.375v-.001c-2.139 0-3.865-.71-4.992-2.052-1.169-1.394-1.596-3.397-1.2-5.64l1.848-10.477h17.923l-3.204 18.17z"
            ></path>
            <path
              d="M159.06 355.919c-2.838-3.382-7.105-5.322-11.708-5.322-8.567 0-16.453 6.665-17.954 15.176-.813 4.614.365 9.221 3.231 12.637 2.838 3.382 7.105 5.322 11.707 5.322 8.567 0 16.453-6.666 17.954-15.175.814-4.615-.363-9.221-3.23-12.638zM423.111 355.919c-2.839-3.382-7.106-5.322-11.707-5.322-8.567 0-16.453 6.665-17.953 15.175-.813 4.615.363 9.221 3.23 12.638 2.838 3.382 7.105 5.322 11.707 5.322 8.567 0 16.453-6.666 17.954-15.175.814-4.615-.364-9.221-3.231-12.638zM323.374 316.393H221.791a8.017 8.017 0 0 0 0 16.034h101.583a8.017 8.017 0 0 0 0-16.034zM179.036 282.189H31.15a8.017 8.017 0 0 0 0 16.034h147.886a8.017 8.017 0 0 0 0-16.034zM332.127 249.936l-29.68-25.653a8.018 8.018 0 0 0-10.485 12.131l13.388 11.572H102.077a8.017 8.017 0 0 0 0 16.034h198.189l-16.535 10.954a8.015 8.015 0 0 0-2.256 11.11 8.007 8.007 0 0 0 6.69 3.59c1.52 0 3.058-.432 4.42-1.335l38.727-25.653a8.01 8.01 0 0 0 3.573-6.172 8.014 8.014 0 0 0-2.758-6.578z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Raske leveranser</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Raske leveranser er en viktig funksjon for mange av våre kunder. Vi forstår at det kan være frustrerende å
          vente lenge på at glasset skal bli levert og montert, så vi gjør alt vi kan for å sørge for at det skjer så
          fort som mulig.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            class="h-5 w-5 text-primary-600 dark:text-primary-300 lg:h-6 lg:w-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"
            ></path><path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Rimelige priser</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Vi tilbyr kostnadseffektive tjenester. Vårt mål er å gjøre det enklere for alle å ha råd til å få de
          tjenestene de trenger, uten å måtte ofre kvaliteten. Vi tror på at god kvalitet ikke trenger å koste en
          formue.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 text-primary-600 dark:text-primary-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Kundestøtte</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Vi forstår at det kan være mange spørsmål og bekymringer knyttet til å bestille og få levert og montert glass,
          så vi gjør alt vi kan for å hjelpe kundene våre. Vi hjelper kundene med å føle seg trygge og forstå hva som
          skjer underveis i prosessen.
        </p>
      </div>
      <div>
        <div
          class="mb-4 flex h-10 w-10 items-center justify-center rounded-full bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6 text-primary-600 dark:text-primary-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
            ></path>
          </svg>
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">Profesjonelle råd</h3>
        <p class="text-gray-500 dark:text-gray-400">
          Mange kan ha spørsmål eller være usikre på hvilket glass som passer best for deres behov. Vi prøver å hjelpe
          våre kunder med å velge det riktige glasset, samt gi dem tips om vedlikehold og bruk.
        </p>
      </div>
    </div>
  </div>
</section>
