<a href="/" class="flex items-center">
  <img src="/assets/logo-dark.svg" class="mr-3 hidden h-6 dark:block sm:h-12" alt="Glass.no Logo" />
  <img src="/assets/logo-light.svg" class="mr-3 block h-6 dark:hidden sm:h-12" alt="Glass.no Logo" />
</a>
