---
import { Picture } from '@astrojs/image/components';
import LogoDark from '/assets/glassno-white.svg';
import LogoLight from '/assets/glassno.svg';
---

<a href="/" class="flex items-center">
  <Picture
    src={LogoDark}
    widths={[400, 800, 1200]}
    aspectRatio={7.9 / 2.9}
    class="mr-3 hidden h-10 dark:block md:h-12"
    alt="Glass.no Logo"
    sizes="50em, 30em, 20em"
  />
  <Picture
    src={LogoLight}
    widths={[200, 400, 800, 1200]}
    aspectRatio={7.9 / 2.9}
    class="mr-3 block h-10 dark:hidden md:h-12"
    alt="Glass.no Logo"
    sizes="50em, 30em, 20em"
  />
</a>
