<article class="relative grid h-1/2 place-content-center place-items-center px-6 md:h-1/4">
  <div class="max-w-screen-md text-center">
    <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-gray-900 dark:text-white">
      Kvalitetstjeneste siden 1889
    </h2>
    <p class="text-gray-500 dark:text-gray-400 sm:text-xl">
      Glass-Service Svendsen & Sønn AS har lang erfaring i glassbransjen - helt siden 1889. Vi leverer skreddersydde
      løsninger til alle hjem, og har høy kvalitet i alle ledd.
    </p>
  </div>
  <a aria-label="Click to Content" class="absolute bottom-0" id="arrowDown" href="#hvorfor-oss">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="h-9 w-9 animate-bounce text-orange-500 md:hidden md:h-12 md:w-12"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
  </a>
</article>
