---
import { getSanityImageURL, removeExt } from '$lib/sanity.image';
import { Image } from '@astrojs/image/components';

export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<article class="post-preview__article">
  <a href={`/blog/${post.slug}`}>
    {
      post.mainImage && (
        <Image
          width="720"
          height="420"
          class="post-main__img"
          alt={post.mainImage.asset.altText || removeExt(post.mainImage.asset.originalFilename)}
          loading="lazy"
          src={getSanityImageURL(post.mainImage).url()}
        />
      )
    }
    <h1 class="title">{post.title}</h1>
    <p>{post.description}</p>
  </a>
</article>
