---
import PortableText from './PortableText.astro';

const { content } = Astro.props;
---

<div
  class="mx-auto max-w-2xl text-lg leading-relaxed [&_a]:text-blue-500 [&_a]:underline [&_a:hover]:text-blue-800 [&_p]:my-6 [&_ul]:my-6 [&_ol]:my-6 [&_blockquote]:my-6 [&_h2]:mt-12 [&_h2]:mb-4 [&_h2]:text-3xl [&_h2]:leading-snug [&_h3]:mt-8 [&_h3]:mb-4 [&_h3]:text-2xl [&_h3]:leading-snug"
>
  <PortableText value={content} />
</div>
