<section class="flex h-screen w-screen items-center justify-center">
  <div class="relative w-full overflow-hidden">
    <div class="pointer-events-none absolute -top-1 z-10 h-20 w-full bg-gradient-to-b from-white to-transparent"></div>
    <div class="pointer-events-none absolute -bottom-1 z-10 h-20 w-full bg-gradient-to-t from-white to-transparent">
    </div>
    <div class="pointer-events-none absolute -left-1 z-10 h-full w-20 bg-gradient-to-r from-white to-transparent"></div>
    <div class="pointer-events-none absolute -right-1 z-10 h-full w-20 bg-gradient-to-l from-white to-transparent">
    </div>

    <div class="mx-auto grid h-[500px] animate-skew-scroll grid-cols-2 gap-5 lg:grid-cols-3">
      <slot />
    </div>
  </div>
</section>
