<html>
  <head></head>
  <div class="m-0 h-screen overflow-hidden" id="app"></div>

  <script>
    import { renderStudio } from 'sanity';
    import config from 'sanity.config';

    const app = document.getElementById('app');

    if (app) {
      renderStudio(document.getElementById('app'), config);
    }
  </script>


</html>
